In [3]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
df=pd.read_csv('german_credit_data.csv')

In [5]:
df.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [6]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               1000 non-null   int64
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int64
 4   Housing           1000 non-null   object
 5   Saving accounts   817 non-null    object
 6   Checking account  606 non-null    object
 7   Credit amount     1000 non-null   int64
 8   Duration          1000 non-null   int64
 9   Purpose           1000 non-null   object
 10  Risk              1000 non-null   object
dtypes: int64(5), object(6)
memory usage: 86.1+ KB

In [7]:
df.groupby(['Sex']).size()

Sex
female    310
male      690
dtype: int64

In [8]:
pd.DataFrame(df.groupby(['Sex']).size())

          0
Sex
female  310
male    690

In [9]:
df.groupby('Sex').agg(Avg_age=('Age', 'mean')).reset_index()

      Sex    Avg_age
0  female  32.803226
1    male  36.778261

In [10]:
df['Risk']=df['Risk'].apply(lambda x: 1 if x == 'good' else 0)

In [11]:
df

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,1
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,0
2,2,49,male,1,own,little,NaN,2096,12,education,1
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,1
4,4,53,male,2,free,little,little,4870,24,car,0
...,...,...,...,...,...,...,...,...,...,...,...
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment,1
996,996,40,male,3,own,little,little,3857,30,car,1
997,997,38,male,2,own,little,NaN,804,12,radio/TV,1
998,998,23,male,2,free,little,little,1845,45,radio/TV,0
999,999,27,male,2,own,moderate,moderate,4576,45,car,1

In [12]:
categorical_colnames=['Sex','Housing','Saving accounts','Purpose','Checking account']
numerical_colnames=['Age','Job','Credit amount','Duration']
target_colnames=['Risk']

In [13]:
categorical=df[categorical_colnames]
numerical=df[numerical_colnames]
target=df[target_colnames]

In [14]:
categorical#.info(verbose=True)

        Sex Housing Saving accounts              Purpose Checking account
0      male     own             NaN             radio/TV           little
1    female     own          little             radio/TV         moderate
2      male     own          little            education              NaN
3      male    free          little  furniture/equipment           little
4      male    free          little                  car           little
..      ...     ...             ...                  ...              ...
995  female     own          little  furniture/equipment              NaN
996    male     own          little                  car           little
997    male     own          little             radio/TV              NaN
998    male    free          little             radio/TV           little
999    male     own        moderate                  car         moderate

[1000 rows x 5 columns]

In [15]:
categorical = categorical.astype('category')

In [16]:
categorical_encoded = pd.get_dummies(categorical, columns=categorical_colnames)

In [17]:
categorical_encoded

,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,Saving accounts_little,Saving accounts_moderate,Saving accounts_quite rich,Saving accounts_rich,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Checking account_little,Checking account_moderate,Checking account_rich
0,False,True,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False
1,True,False,False,True,False,True,False,False,False,False,False,False,False,False,True,False,False,False,True,False
2,False,True,False,True,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False
3,False,True,True,False,False,True,False,False,False,False,False,False,False,True,False,False,False,True,False,False
4,False,True,True,False,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,True,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False
996,False,True,False,True,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,False
997,False,True,False,True,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False
998,False,True,True,False,False,True,False,False,False,False,False,False,False,False,True,False,False,True,False,False
999,False,True,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False

In [18]:
pd.concat([categorical_encoded,numerical],axis=1)

,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,Saving accounts_little,Saving accounts_moderate,Saving accounts_quite rich,Saving accounts_rich,Purpose_business,...,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Checking account_little,Checking account_moderate,Checking account_rich,Age,Job,Credit amount,Duration
0,False,True,False,True,False,False,False,False,False,False,...,True,False,False,True,False,False,67,2,1169,6
1,True,False,False,True,False,True,False,False,False,False,...,True,False,False,False,True,False,22,2,5951,48
2,False,True,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,49,1,2096,12
3,False,True,True,False,False,True,False,False,False,False,...,False,False,False,True,False,False,45,2,7882,42
4,False,True,True,False,False,True,False,False,False,False,...,False,False,False,True,False,False,53,2,4870,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,True,False,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,31,1,1736,12
996,False,True,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,40,3,3857,30
997,False,True,False,True,False,True,False,False,False,False,...,True,False,False,False,False,False,38,2,804,12
998,False,True,True,False,False,True,False,False,False,False,...,True,False,False,True,False,False,23,2,1845,45
999,False,True,False,True,False,False,True,False,False,False,...,False,False,False,False,True,False,27,2,4576,45

In [19]:
df_encoded = pd.get_dummies(df, columns=categorical_colnames)

In [20]:
df_encoded

,Unnamed: 0,Age,Job,Credit amount,Duration,Risk,Sex_female,Sex_male,Housing_free,Housing_own,...,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Checking account_little,Checking account_moderate,Checking account_rich
0,0,67,2,1169,6,1,False,True,False,True,...,False,False,False,False,True,False,False,True,False,False
1,1,22,2,5951,48,0,True,False,False,True,...,False,False,False,False,True,False,False,False,True,False
2,2,49,1,2096,12,1,False,True,False,True,...,False,False,True,False,False,False,False,False,False,False
3,3,45,2,7882,42,1,False,True,True,False,...,False,False,False,True,False,False,False,True,False,False
4,4,53,2,4870,24,0,False,True,True,False,...,True,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,31,1,1736,12,1,True,False,False,True,...,False,False,False,True,False,False,False,False,False,False
996,996,40,3,3857,30,1,False,True,False,True,...,True,False,False,False,False,False,False,True,False,False
997,997,38,2,804,12,1,False,True,False,True,...,False,False,False,False,True,False,False,False,False,False
998,998,23,2,1845,45,0,False,True,True,False,...,False,False,False,False,True,False,False,True,False,False
999,999,27,2,4576,45,1,False,True,False,True,...,True,False,False,False,False,False,False,False,True,False

In [21]:
df_encoded.columns

Index(['Unnamed: 0', 'Age', 'Job', 'Credit amount', 'Duration', 'Risk',
       'Sex_female', 'Sex_male', 'Housing_free', 'Housing_own', 'Housing_rent',
       'Saving accounts_little', 'Saving accounts_moderate',
       'Saving accounts_quite rich', 'Saving accounts_rich',
       'Purpose_business', 'Purpose_car', 'Purpose_domestic appliances',
       'Purpose_education', 'Purpose_furniture/equipment', 'Purpose_radio/TV',
       'Purpose_repairs', 'Purpose_vacation/others', 'Checking account_little',
       'Checking account_moderate', 'Checking account_rich'],
      dtype='object')

In [22]:
X = df_encoded[['Age', 'Job', 'Credit amount', 'Duration',
       'Sex_female', 'Sex_male', 'Housing_free', 'Housing_own', 'Housing_rent',
       'Saving accounts_little', 'Saving accounts_moderate',
       'Saving accounts_quite rich', 'Saving accounts_rich',
       'Purpose_business', 'Purpose_car', 'Purpose_domestic appliances',
       'Purpose_education', 'Purpose_furniture/equipment', 'Purpose_radio/TV',
       'Purpose_repairs', 'Purpose_vacation/others', 'Checking account_little',
       'Checking account_moderate', 'Checking account_rich']]
y = df_encoded[['Risk']]

In [23]:
y

     Risk
0       1
1       0
2       1
3       1
4       0
..    ...
995     1
996     1
997     1
998     0
999     1

[1000 rows x 1 columns]

In [24]:
df.groupby(['Risk']).size()

Risk
0    300
1    700
dtype: int64

In [25]:
! pip install imbalanced-learn
from imblearn.over_sampling import SMOTE

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: imbalanced-learn in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (0.12.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn) (2.1.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn) (1.14.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn) (1.5.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\adaml\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn) (3.5.0)

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
# Split the data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
X_train

,Age,Job,Credit amount,Duration,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,Saving accounts_little,...,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Checking account_little,Checking account_moderate,Checking account_rich
29,63,2,6836,60,False,True,False,True,False,True,...,False,False,False,False,False,False,False,True,False,False
535,33,2,2319,21,False,True,False,False,True,True,...,False,False,True,False,False,False,False,False,False,True
695,50,2,1236,6,False,True,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
557,29,2,5003,21,True,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
836,21,2,886,12,True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,39,3,6458,18,False,True,False,True,False,True,...,True,False,False,False,False,False,False,False,False,False
270,32,2,2662,18,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
860,27,2,5804,24,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
435,25,2,1484,12,False,True,False,True,False,False,...,False,False,False,False,True,False,False,False,True,False
102,24,2,932,6,True,False,False,True,False,True,...,False,False,False,False,True,False,False,False,False,False

In [29]:
y_train.groupby(['Risk']).size()

Risk
0    241
1    559
dtype: int64

In [30]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(k_neighbors=5, random_state=42)
X_train, y_train = smote.fit_resample(X_train, y_train)

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

c:\Users\adaml\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier(random_state=42)

In [33]:
import pickle
with open('model_rf.pkl', 'wb') as f:
    pickle.dump(model, f)

In [34]:
y_pred = model.predict(X_train)
y_pred_proba = model.predict_proba(X_train)
y_pred_proba = pd.DataFrame(y_pred_proba)

In [35]:
y_pred_proba

         0     1
0     0.89  0.11
1     0.69  0.31
2     0.14  0.86
3     0.79  0.21
4     0.09  0.91
...    ...   ...
1113  1.00  0.00
1114  1.00  0.00
1115  0.89  0.11
1116  0.97  0.03
1117  0.94  0.06

[1118 rows x 2 columns]

In [38]:
pd.concat([X_train,y_pred_proba,y_train,pd.DataFrame(y_pred).rename(columns={0:'y_pred'})],axis=1)

,Age,Job,Credit amount,Duration,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,Saving accounts_little,...,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Checking account_little,Checking account_moderate,Checking account_rich,0,1,Risk,y_pred
0,63,2,6836,60,False,True,False,True,False,True,...,False,False,False,True,False,False,0.89,0.11,0,0
1,33,2,2319,21,False,True,False,False,True,True,...,False,False,False,False,False,True,0.69,0.31,0,0
2,50,2,1236,6,False,True,False,False,True,False,...,False,False,False,False,False,False,0.14,0.86,1,1
3,29,2,5003,21,True,False,False,True,False,False,...,False,False,False,False,False,False,0.79,0.21,0,0
4,21,2,886,12,True,False,False,True,False,False,...,True,False,False,False,False,False,0.09,0.91,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1113,23,2,1456,19,False,False,False,False,False,False,...,False,False,False,False,False,False,1.00,0.00,0,0
1114,39,2,4621,14,False,False,False,True,False,False,...,False,False,False,False,False,False,1.00,0.00,0,0
1115,23,1,664,10,False,True,False,True,False,False,...,False,False,False,True,False,False,0.89,0.11,0,0
1116,23,2,914,12,False,True,False,False,False,False,...,False,False,False,False,False,False,0.97,0.03,0,0
1117,36,1,695,12,False,True,False,True,False,True,...,False,False,False,False,False,False,0.94,0.06,0,0

In [37]:
pd.DataFrame(y_pred).rename(columns={0:'y_pred'})

      y_pred
0          0
1          0
2          1
3          0
4          1
...      ...
1113       0
1114       0
1115       0
1116       0
1117       0

[1118 rows x 1 columns]

In [40]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
accuracy = accuracy_score(y_train, y_pred)
precision = precision_score(y_train, y_pred, pos_label=1)
recall = recall_score(y_train, y_pred, pos_label=1)
f1 = f1_score(y_train, y_pred, pos_label=1)
 
print("Accuracy:", accuracy)
print("Precision", precision)
print("Recall:", recall)
print("F1-score:", f1)

Accuracy: 1.0
Precision 1.0
Recall: 1.0
F1-score: 1.0

In [41]:
y_pred_test = model.predict(X_test)
y_pred_proba_test = model.predict_proba(X_test)
y_pred_proba_test = pd.DataFrame(y_pred_test)

In [ ]:
pd.concat([X_test.reset_index(drop=True),
           y_pred_proba_test.reset_index(drop=True),
           y_test.reset_index(drop=True),
           pd.DataFrame(y_pred_test).rename(columns={0:'y_pred_test'}).reset_index(drop=True)],axis=1)

,Age,Job,Credit amount,Duration,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,Saving accounts_little,...,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Checking account_little,Checking account_moderate,Checking account_rich,0,Risk,y_pred_test
0,24,2,3190,18,True,False,False,True,False,True,...,False,True,False,False,True,False,False,1,0,1
1,35,1,4380,18,False,True,False,True,False,False,...,False,False,False,False,True,False,False,1,1,1
2,32,2,2325,24,False,True,False,True,False,False,...,False,False,False,False,True,False,False,1,1,1
3,23,2,1297,12,False,True,False,False,True,True,...,False,True,False,False,False,False,True,0,1,0
4,35,3,7253,33,False,True,False,True,False,True,...,False,False,False,False,False,False,False,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,26,3,3235,24,False,True,False,True,False,False,...,False,True,False,False,False,False,False,1,1,1
196,24,3,7408,60,True,False,False,True,False,False,...,False,False,False,False,False,True,False,1,0,1
197,21,1,6568,24,False,True,False,True,False,True,...,False,False,False,False,True,False,False,1,1,1
198,22,2,3632,24,True,False,False,False,True,True,...,False,False,False,False,True,False,False,0,1,0
199,39,1,9436,54,False,True,False,True,False,False,...,False,False,False,False,False,False,False,1,1,1

In [44]:
accuracy = accuracy_score(y_test, y_pred_test)
precision = precision_score(y_test, y_pred_test, pos_label=1)
recall = recall_score(y_test, y_pred_test, pos_label=1)
f1 = f1_score(y_test, y_pred_test, pos_label=1)
 
print("Accuracy:", accuracy)
print("Precision", precision)
print("Recall:", recall)
print("F1-score:", f1)

Accuracy: 0.655
Precision 0.7337662337662337
Recall: 0.8014184397163121
F1-score: 0.7661016949152543